#field-type {
    width: 40%;
}

#field-option {
    height: 30px;
    width: 100%;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px 10px 5px 20px;
    outline: none;
    border: 1px solid orange;
    border-radius: 8px;
}

#btn3, #btn4 {
    margin: 15px 0 20px 51px;
    padding: 12px 20px;
    /* width: 65%; */
    background: orange;
    outline: none;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px darkgrey;
}