.container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  height: 60px;
  padding-left: 20px;
  background: rgb(186, 186, 186);
  border-bottom: 3px solid black;
}

#form-container {
  display: flex; 
  flex-direction: column;
  width: 600px;
  background: rgb(186, 186, 186);
}

#form-container div {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.inputs, .select, .textarea {
  height: 30px;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px 10px 5px 20px;
  outline: none;
  border: 1px solid orange;
  border-radius: 8px;
}

.select {
  width: 90%;
  height: 35px;
  margin: 10px 0 0 51px;
  color: grey;
}  

.select option {
  /* color: grey; */
}

.textarea {
  height: 150px;
}

.buttons a button{
  margin: 15px 0 20px 51px;
  padding: 12px 20px;
  width: 75%;
  background: orange;
  outline: none;
  font-size: 20px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px darkgrey;
}

#btn1:active, #btn2:active {
  padding: 13px 20px 11px 20px;
  box-shadow: inset 2px 2px 2px darkgrey;
}

i {
  padding-left: 15px;
  text-align: center;
  width: 20px;
  height: 20px;
}
